// ------------------------------------
// Sass Style
// ------------------------------------
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  
  font-family: Menlo, "Ubuntu Mono", Consolas, "Courier New", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

body {
  overflow: hidden;
}

#root {
  height: inherit;
}

.layout-root {
  height: inherit;
  display: flex;
}

.ant-notification-notice-message,
.ant-notification-notice-with-icon .ant-notification-notice-message {
  font-size: 14px;
}

.ant-notification-notice-description,
.ant-notification-notice-with-icon .ant-notification-notice-description {
  font-size: 12px;
}

.ant-notification-notice-icon {
  font-size: 32px;
  line-height: 32px;
  margin-left: 0;
}