// ------------------------------------
// Sass Style
// ------------------------------------
.layout-warpper {
  height: inherit;
  display: flex;
  width: 100%;
}

.layout-page-container {
  height: inherit;
  width: 100%;
  overflow-y: auto;
  position: relative;

  >div {
    padding: 20px;
  }

  .layout-page-tools {
    margin: 10px 0 20px 0;
  }

  .layout-page-loading {
    height: 3px;
    background: #49a9ee;
    position: absolute;
    top: 0;
    padding: 0;
    transition: all 1.2s ;
  }
}