.layout-sider {
  flex: 0 0 260px;
  background-color: #333;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .3s;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .layout-sider .menu-collapsed {
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: rgba(255, 255, 255, 0.67);
    background: #333;
    transition: all .3s;
    cursor: pointer; }
    .layout-sider .menu-collapsed:hover {
      color: #fff; }
  .layout-sider .menu-bodyer {
    height: 100%;
    overflow-y: auto; }
  .layout-sider .menu-footer {
    height: 50px;
    color: rgba(255, 255, 255, 0.67);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #404040; }
    .layout-sider .menu-footer a {
      color: rgba(255, 255, 255, 0.65); }
    .layout-sider .menu-footer .anticon {
      font-size: 20px; }
    .layout-sider .menu-footer span {
      margin-left: 10px;
      font-size: 13px; }
  .layout-sider .ant-menu-item, .layout-sider .ant-menu-submenu-title {
    font-size: 12px; }
  .layout-sider .ant-menu-dark, .layout-sider .ant-menu-dark {
    background: #404040; }
    .layout-sider .ant-menu-dark .ant-menu-sub, .layout-sider .ant-menu-dark .ant-menu-sub {
      -webkit-box-shadow: none;
      box-shadow: none; }
  .layout-sider .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #333; }
  .layout-sider .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: #5e94d3; }
  .layout-sider .ant-menu-inline-collapsed > .ant-menu-item, .layout-sider .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .layout-sider .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 24px !important; }
  .layout-sider .ant-menu-inline-collapsed {
    width: 64px; }

.ant-menu-submenu-popup {
  background: transparent;
  border-radius: 4px; }
  .ant-menu-submenu-popup .ant-menu-sub {
    background: #404040;
    box-shadow: none; }
    .ant-menu-submenu-popup .ant-menu-sub span {
      font-size: 12px; }
